body {
    background-color: #A0522D;
    color: #fff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #FF4500; 
}

img {
    border: 5px solid #fff;
    border-radius: 10px;
}

p {
    background-color: #8B4513;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.2rem;
    line-height: 1.6;
    max-width: 800px;
    text-align: justify;
}

em {
    color: #FFD700;
}

strong {
    color: #FFA07A;
}
